extends ../layout

block append css
  link(rel='stylesheet', href='/css/dashboard.css')
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

block append head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
  script(src="/js/dashboard.js")

block content
  .pb-2.mt-2.mb-4.border-bottom#topwrapper
    <button type="button" id="editProfile"><i class='fas fa-cog'></i>Edit Profile</button>

  form(action='/account/picture?_csrf='+_csrf, method='POST', enctype='multipart/form-data')
    div.col-lg-12#pfp-container
      <img id="pfp" src='' height="300" width="300"></img>
    .settings
      input(type="file", name="myFile", id="imgInp")
    .content   

  form(action='/account', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    <div id="about">   
      .content#namewrapper
        //<span id="name"></span>
        <span id="name2"> test</span>
      .content#subwrapper
        <span id="school"></span> <span id="gradYear"></span><span id="divider">|</span><span id="major"></span>
      .settings
        select(id="school-select", name="school")
          <option value="">Please enter your current institution</option>  
        <select id="gradYear-select" name="gradYear">
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select>
        <select id="major-select" name="major"></select>
      <div id="socialmedia-app">
        .content#social-wrapper
          ul#social-menu
            <li class="social-items" v-for="(socialmedia, index) in socialmedias">
              <a v-if="socialmedia[0] == 'phone'" v-bind:value="socialmedia[1]" ><i class="fas fa-mobile"></i></a>
              <a v-if="socialmedia[0] == 'devpost'" v-bind:href="socialmedia[1]"><img src="/assets/devpost.png" height=30 /></a>
              <a v-if="socialmedia[0] == 'website'" v-bind:href="socialmedia[1]"><i class="fab fa-blogger"></i></a>
              <a v-else v-bind:href="socialmedia[1]"><i v-bind:class="[{'fab': true}, socialmedia[0] ? 'fa-' + socialmedia[0] : '']"></i></a>
            </li>
        .settings
          <div class="row">
            <div class="col-md-4">
              <label>Website:</label>
            </div>
            <input class="pull-right" name="website" placeholder="Personal Website" />
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Devpost:</label>
            </div>
            <input class="pull-right" name="devpost" placeholder="Devpost" />
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Phone:</label>
            </div>
            <input class="pull-right" name="phone" placeholder="Phone" />
          </div>
          <div class="row">
            <div class="col-md-3" style="margin-left: -12px;">
              <label>Facebook:</label>
            </div>
            <input style="width:70%;" name="facebook" placeholder="https://www.facebook.com/your_name" />
          </div>
          <div class="row">
            <div class="col-md-3" style="margin-left: -12px;">
              <label>Instagram:</label>
            </div>
            <input style="width:70%;" name="instagram" placeholder="https://www.instagram.com/your_name" />
          </div>
          <div class="row">
            <div class="col-md-3" style="margin-left: -12px;">
              <label>Linkedin:</label>
            </div>
            <input style="width:70%;" name="linkedin" placeholder="https://www.linkedin.com/your_name" />
          </div>
          <div class="row">
            <div class="col-md-3" style="margin-left: -12px;">
              <label>Github:</label>
            </div>
            <input style="width:70%;" name="github" placeholder="https://www.github.com/your_name" />
          </div>
      </div>
      .content
        <span id="gender"></span>
      .settings
      <select id="gender-select" name="gender">
        <option value='male'>Male</option>
        <option value='female'>Female</option>
        <option value='other'>Other</option>
      </select>
      .content
        <span id="eduLevel"></span>
      .settings
        <select id="eduLevel-select" name="eduLevel">
          <option value="highschool">High School</option>
          <option value="undergrad">Undergrad</option>
          <option value="graduate">Graduate</option>
          <option value="phd">PhD</option>
        </select>
      
    
    <div id="app">
      .content
        <div class="languages" v-for="(language, index) in languages">
          <span style="float:right">{{language[1]}}/10</span>
          <li>{{language[0]}}</li>
        </div>
      .settings
        <div class="lang" v-for="(lan, index) in languages">
          <i v-on:click="deleteLanguage(index, lan)" class="fa fa-times" style="float-left"></i>{{lan[0]}}
          <input v-bind:name="lan[0]" style="float:right" v-bind:value="lan[1]" type=number min="1" max="10"></input>
        </div>
        <button v-on:click.prevent v-if="totalLanguages < 5" data-toggle="modal" data-target="#modalLanguages" style="border-radius: 0px; border-width: 1px; text-align:center">
          <i class="fa fa-plus"></i> add</button>

        <div class="modal fade" id="modalLanguages" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="color:dimgrey;">
              <div class="modal-header" style="padding-bottom: 0px;">
                <div class="col-md-11">
                  <h5 class="modal-title">Languages</h5>
                </div>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <div class="row" v-for="(lan, index) in allLanguages">
                  <div class="col-md-8">
                    <span>{{lan}}</span>
                    <i v-on:click="addLanguage(lan, index)" class="fa fa-plus" style="float:right" ></i> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      .content
        <div class="interests" v-for="(interest, index) in interests">
          <span style="float:right">{{interest[1]}}/10</span>
          <li>{{interest[0]}}</li>
        </div>
      .settings
        <div class="ints" v-for="(int, index) in interests">
          <i v-on:click="deleteInterest(index, int)" class="fa fa-times" style="float-left"></i>{{int[0]}}
          <input v-bind:name="int[0]" style="float:right" v-bind:value="int[1]" type=number min="1" max="10"></input>
        </div>
        <button v-on:click.prevent v-if="totalInterests < 5" data-toggle="modal" data-target="#modalInterests" style="border-radius: 0px; border-width: 1px; text-align:center">
          <i class="fa fa-plus"></i> add</button>
        <div class="modal fade" id="modalInterests" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="color:dimgrey;">
              <div class="modal-header" style="padding-bottom: 0px;">
                <div class="col-md-11">
                  <h5 class="modal-title">Interests</h5>
                </div>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <div class="row" v-for="(int, index) in allInterests">
                  <div class="col-md-8">
                    <span>{{int}}</span>
                    <i v-on:click="addInterest(int, index)" class="fa fa-plus" style="float:right" ></i> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      .content
        <div class="technologies" v-for="(technology, index) in technologies">
          <span style="float:right">{{technology[1]}}/10</span>
          <li>{{technology[0]}}</li>
        </div>
      .settings
        <div class="tech" v-for="(lan, index) in technologies">
          <i v-on:click="deleteTechnology(index, lan)" class="fa fa-times" style="float-left"></i>{{lan[0]}}
          <input v-bind:name="lan[0]" style="float:right" v-bind:value="lan[1]" type=number min="1" max="10"></input>
        </div>
        <button v-on:click.prevent v-if="totalTechnologies < 5" data-toggle="modal" data-target="#modalTechnologies" style="border-radius: 0px; border-width: 1px; text-align:center">
          <i class="fa fa-plus"></i> add</button>
        <div class="modal fade" id="modalTechnologies" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="color:dimgrey;">
              <div class="modal-header" style="padding-bottom: 0px;">
                <div class="col-md-11">
                  <h5 class="modal-title">Technologies</h5>
                </div>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <div class="row" v-for="(lan, index) in allTechnologies">
                  <div class="col-md-8">
                    <span>{{lan}}</span>
                    <i v-on:click="addTechnology(lan, index)" class="fa fa-plus" style="float:right" ></i> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      .content
        <div class="fields" v-for="(field, index) in fields">
          <span style="float:right">{{field[1]}}/10</span>
          <li>{{field[0]}}</li>
        </div>
      .settings
        <div class="field" v-for="(lan, index) in fields">
          <i v-on:click="deleteField(index, lan)" class="fa fa-times" style="float-left"></i>{{lan[0]}}
          <input v-bind:name="lan[0]" style="float:right" v-bind:value="lan[1]" type=number min="1" max="10"></input>
        </div>
        <button v-on:click.prevent v-if="totalFields < 5" data-toggle="modal" data-target="#modalFields" style="border-radius: 0px; border-width: 1px; text-align:center">
          <i class="fa fa-plus"></i> add</button>
        <div class="modal fade" id="modalFields" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="color:dimgrey;">
              <div class="modal-header" style="padding-bottom: 0px;">
                <div class="col-md-11">
                  <h5 class="modal-title">Fields</h5>
                </div>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <div class="row" v-for="(lan, index) in allFields">
                  <div class="col-md-8">
                    <span>{{lan}}</span>
                    <i v-on:click="addField(lan, index)" class="fa fa-plus" style="float:right" ></i> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>

      
    .settings
      .form-group
        .offset-sm-3.col-md-7.pl-2
          button.btn.btn.btn-primary(type='submit')
            i.fas.fa-pencil-alt.fa-sm
            | Update Profile

  .pb-2.mt-2.mb-4.border-bottom
    h3 Change Password

  form(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') New Password
      .col-md-7
        input.form-control(type='password', name='password', id='password', autocomplete='new-password')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-lock.fa-sm
          | Change Password

  .pb-2.mt-2.mb-4.border-bottom
    h3 Delete Account

  form(action='/account/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
    .form-group
      p.offset-sm-3.col-md-7.pl-2 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm
          | Delete my account

  script.
    var User = !{JSON.stringify(user)};
    
  
