.navbar.navbar-light.fixed-top.navbar-expand-lg
  .container
    a.navbar-brand(href='/home')
      i.fas.fa-cube
      | Hacker Matcher
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
    if !user
      form(action='/login', method="POST")
        input(type='hidden', name='_csrf', value=_csrf)
        ul.nav.navbar-nav.ml-auto
          li.nav-item(class=(title === 'Email') ? 'active' : undefined)
            label(for='email') Email
            input.form-control(type='email', name='email', id='email')
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            label(for='password') Password
            input.form-control(type='password', name='password', id='password', autocomplete='new-password')
          .form-group
          button.btn.btn.btn-primary(type='submit')
            | Login
    else
      ul.nav.navbar-nav.ml-auto
        li
          form(id="searchForm")
            div.input-group
              input(type='hidden', name='_csrf', value=_csrf)
              input.form-control(type="text" id="searchContent" class="typeahead" list="potentials" placeholder="Search for users and hackathons")
              datalist(id="potentials")
              span.input-group-btn
                button#search-btn.btn-primary(type='submit') Search
        button#home-btn.btn-primary Home
        li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
          a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
            //if user.profile.picture
            img(src=user.profile.picture)
            //else
              //img(src=user.gravatar(60))
            span= user.profile.name || user.email || user.id
            i.caret
          ul.dropdown-menu
            li.dropdown-item
              a(href='/account') My Account
            li.divider.dropdown-item
            li.dropdown-item
              a(href='/logout') Logout
